{% extends 'base.html.twig' %}

{% block title %}LnList{% endblock %}

{% block body %}
    <h1>LnList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ln_list.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ln_list.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ln_list_index') }}">back to list</a>

    <a href="{{ path('app_ln_list_edit', {'id': ln_list.id}) }}">edit</a>

    {{ include('ln_list/_delete_form.html.twig') }}
{% endblock %}
