{% extends 'base.html.twig' %}

{% block title %}Hello UserDashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ User }} !</h1>

</div>

<div class="container px-4 px-lg-5 mt-5">
    <h1>Vos Listes :</h1>
    <ul>
        {% for list in User.lnLists %}
            <li><a href="{{ path('app_ln_list_show', {'id': list.id}) }}">{{ list }}</a></li>
        {% endfor %}
    </ul>
    <a class="btn btn-outline-dark mt-auto" href="{{ path('app_ln_list_new') }}">Create new</a>
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h1>Vos LightNovels :</h1>
        <br>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <!-- Add lightnovel -->
            <a href="{{ path('lightnovel_new') }}">
            <div class="col mb-5">
                <div class="card h-100 align-items-center" style="height: 20em;line-height: 20em;white-space: nowrap;">
                    <!-- Plus logo -->
                    <div class="plus-logo-container text-center">
                        <i class="bi bi-plus" style="font-size: 5rem;"></i>
                    </div>
                </div>
            </div>
            </a>
            <!-- Add lightnovel -->
            {% for lightnovel in User.follow %}
            <!-- Début affichage d'un lightnovel -->
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- LightNovel image-->
                    <img class="card-img-top" style="height:20vh;object-fit: cover;" src="{{ vich_uploader_asset(lightnovel, 'imageFile') }}" />
                    <!-- LightNovel details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ lightnovel.title }}</h5>
                            {{ lightnovel.author }}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('lightnovel', {'title': lightnovel.title}) }}">View</a></div>
                    </div>
                </div>
            </div>
            <!-- Fin affichage d'un lightnovel -->
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
